.panel {
  width: 400px;
  font: 14px;
  text-align: center;
}

label {
  margin: 15px 0px 5px 0px;
  color: #696969;
  font-size: 14px;
  text-shadow: 0 0 1px silver;
}

.radio-inline {
  margin: 15px 15px 20px 15px;
}
