button {
  background-color: var(--light-blue);
  border: 1px solid var(--light-blue);
}

button:hover {
  background-color: var(--usual-blue);
  border: 1px solid var(--usual-blue);
}

button:active {
  background-color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
}
