<div id="panel">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Nazwa użytkownika:</label>
      <input
        id="username"
        type="text"
        class="form-control"
        formControlName="username"
      />
    </div>

    <div class="form-group">
      <label for="password">Hasło:</label>
      <input
        id="password"
        type="password"
        class="form-control"
        formControlName="password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Zaloguj</button>
  </form>
  <a class="text-option" (click)="goToLoginPage()"> Nie masz konta? Zarejestruj się!</a>
</div>

<!-- do ogarniecia, ez [DOM] Input elements should have autocomplete attributes (suggested: "current-password"): (More info: https://goo.gl/9p2vKq) <input _ngcontent-opc-c13 id=​"password" type=​"password" formcontrolname=​"password" class=​"form-control ng-touched ng-dirty ng-valid" ng-reflect-name=​"password">​ -->
