<div class="panel">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Imię:</label>
      <input
        id="name"
        type="text"
        class="form-control"
        formControlName="name"
      />
    </div>

    <div class="form-group">
      <label for="surname">Nazwisko:</label>
      <input
        id="surname"
        type="text"
        class="form-control"
        formControlName="surname"
      />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        id="email"
        type="email"
        class="form-control"
        formControlName="email"
      />
    </div>

    <div class="form-group">
      <label for="username">Nazwa użytkownika:</label>
      <input
        id="username"
        type="text"
        class="form-control"
        formControlName="username"
      />
    </div>

    <div class="form-group">
      <label for="password">Hasło:</label>
      <input
        id="password"
        type="password"
        class="form-control"
        formControlName="password"
      />
    </div>

    <div class="form-group">
      <div id="radio">
        <label class="radio-inline">
          <input
            id="role1"
            type="radio"
            class="form-check-input"
            formControlName="role"
            value="Admin"
            required
          />
          Pracownik
        </label>
        <label class="radio-inline">
          <input
            id="role2"
            type="radio"
            class="form-check-input"
            formControlName="role"
            value="User"
            required
          />
          Student
        </label>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Zarejestruj</button>
  </form>
  <a class="text-option"
     routerLink="/auth/login"
  > Masz już konto? Zaloguj się!</a>
</div>
