a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  margin: 20px 30px;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
}

a:hover {
    opacity: 0.8;
}

a:active {
    color: #ceceff;
}

